
<result>
@PICTURE@<br>
<!-- User ID: @ID@<br> -->
Username: @USERNAME@<br>
<!-- E-mail:@EMAIL@<br> -->
Name:@FIRSTNAME@ @LASTNAME@<br>
Sex: @SEX@<br>
<!-- Date of birth: @DATEOFBIRTH@<br> -->
Age: @AGE@<br>
</result>