logo_medium
{
    background-image: url(../img/branding/branding_color.svg);
    height: 56px;
    width: 100px;
    display: block;
    background-size: 100px;
}

.user
{
    background-image: url("../img/branding/user.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px solid transparent;
    border-radius: 0px;
    color: transparent;
    height: 64px;
    width: 64px;
}
.search
{
    background-image: url("../img/branding/search.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px solid transparent;
    border-radius: 0px;
    color: transparent;
    height: 64px;
    width: 64px;
}
.location
{
    background-image: url("../img/branding/location.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px solid transparent;
    border-radius: 0px;
    color: transparent;
    height: 64px;
    width: 64px;
}
.password
{
    background-image: url("../img/branding/password.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px solid transparent;
    border-radius: 0px;
    color: transparent;
    height: 64px;
    width: 64px;
}
.logout
{
    background-image: url("../img/branding/logout.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px solid transparent;
    border-radius: 0px;
    color: transparent;
    height: 64px;
    width: 64px;
}