/*Basic Eight*/
.brown
{
background-color: #7A482F;
background-image: none;
border-color:#732E01;
color: #FFFFFF;
}

.brown a
{
color: #FFFFFF;
}

.brown a:link
{
color: #FFFFFF;
}

.brown a:active
{
color: #FFFFFF;

}

.brown a:hover
{
color: #FFFFFF;
}

.brown a:visited
{
color: #FFFFFF;
}

.red
{
background-color: #C0362C;
background-image: none;
border-color:#B1181C;
color: #FFFFFF;
}

.red a
{
color: #FFFFFF;
}

.red a:link
{
color: #FFFFFF;
}

.red a:active
{
color: #FFFFFF;

}

.red a:hover
{
color: #FFFFFF;
}

.red a:visited
{
color: #FFFFFF;
}

.orange
{
background-color: #F15B41;
background-image: none;
border-color:#FF4442;
color: #FFFFFF;
}

.orange a
{
color: #FFFFFF;
}

.orange a:link
{
color: #FFFFFF;
}

.orange a:active
{
color: #FFFFFF;

}

.orange a:hover
{
color: #FFFFFF;
}

.orange a:visited
{
color: #FFFFFF;
}

.yellow
{
background-color: #FFF1A8;
background-image: none;
border-color: #F9E73C;
color: #4C3C1E;
}

.yellow a
{
color: #4C3C1E;
}

.yellow a:link
{
color: #4C3C1E;
}

.yellow a:active
{
color: #4C3C1E;

}

.yellow a:hover
{
color: #4C3C1E;
}

.yellow a:visited
{
color: #4C3C1E;
}

.green
{
background-color: #349D58;
background-image: none;
border-color:#468966;
color: #FFFFFF;
}

.green a
{
color: #FFFFFF;
}

.green a:link
{
color: #FFFFFF;
}

.green a:active
{
color: #FFFFFF;

}

.green a:hover
{
color: #FFFFFF;
}

.green a:visited
{
color: #FFFFFF;
}

.blue
{
background-color: #4683EA;
background-image: none;
border-color:#3079ED;
color: #FFFFFF;
}

.blue a
{
color: #FFFFFF;
}

.blue a:link
{
color: #FFFFFF;
}

.blue a:active
{
color: #FFFFFF;

}

.blue a:hover
{
color: #FFFFFF;
}

.blue a:visited
{
color: #FFFFFF;
}

.violet 
{
background-color: #A85CA1;
background-image: none;
border-color:#924E89;
color: #FFFFFF;
}

.violet a
{
color: #FFFFFF;
}

.violet a:link
{
color: #FFFFFF;
}

.violet a:active
{
color: #FFFFFF;

}

.violet a:hover
{
color: #FFFFFF;
}

.violet a:visited
{
color: #FFFFFF;
}

.black 
{
background-color: #414141;
background-image: none;
border-color: #202020;
color: #FFFFFF;
}

.black a
{
color: #FFFFFF;
}

.black a:link
{
color: #FFFFFF;
}

.black a:active
{
color: #FFFFFF;

}

.black a:hover
{
color: #FFFFFF;
}

.black a:visited
{
color: #FFFFFF;
}

/*Extended Pallet*/
.white
{
background-color: #FFFFFF;
background-image: none;
border-color: #9A9A9A;
color: #5B5B5B;
}

.white a
{
color: #5B5B5B;
}

.white a:link
{
color: #5B5B5B;
}

.white a:active
{
color: #5B5B5B;

}

.white a:hover
{
color: #5B5B5B;
}

.white a:visited
{
color: #5B5B5B;
}

.gray
{
background-color: #F1F1F1;
background-image: none;
border-color: #D3D3D3;
color: #555555;
}

.gray a
{
color: #555555;
}

.gray a:link
{
color: #555555;
}

.gray a:active
{
color: #555555;

}

.gray a:hover
{
color: #555555;
}

.gray a:visited
{
color: #555555;
}

.pink
{
background-color: #DE384E;
background-image: none;
border-color: #D9243C;
color: #FFFFFF;
}

.pink a
{
color: #FFFFFF;
}

.pink a:link
{
color: #FFFFFF;
}

.pink a:active
{
color: #FFFFFF;

}

.pink a:hover
{
color: #FFFFFF;
}

.pink a:visited
{
color: #FFFFFF;
}

.lightblue
{
background-color: #87AAE2;
background-image: none;
border-color: #6D84B4;
color: #FFFFFF;
}

.lightblue a
{
color: #FFFFFF;
}

.lightblue a:link
{
color: #FFFFFF;
}

.lightblue a:active
{
color: #FFFFFF;

}

.lightblue a:hover
{
color: #FFFFFF;
}

.lightblue a:visited
{
color: #FFFFFF;
}

.darkblue
{
background-color: #4C66A4;
background-image: none;
border-color: #3B5998;
color: #FFFFFF;
}

.darkblue a
{
color: #FFFFFF;
}

.darkblue a:link
{
color: #FFFFFF;
}

.darkblue a:active
{
color: #FFFFFF;

}

.darkblue a:hover
{
color: #FFFFFF;
}

.darkblue a:visited
{
color: #FFFFFF;
}

.bluegray
{
background-color: #4D5B76;
background-image: none;
border-color: #3E4C67;
color: #FFFFFF;
}

.bluegray a
{
color: #FFFFFF;
}

.bluegray a:link
{
color: #FFFFFF;
}

.bluegray a:active
{
color: #FFFFFF;

}

.bluegray a:hover
{
color: #FFFFFF;
}

.bluegray a:visited
{
color: #FFFFFF;
}

.deepblack 
{
background-color: #070707;
background-image: none;
border-color: #343434;
color: #F4F4F4;
}

.deepblack a
{
color: #F4F4F4;
}

.deepblack a:link
{
color: #F4F4F4;
}

.deepblack a:active
{
color: #F4F4F4;

}

.deepblack a:hover
{
color: #F4F4F4;
}

.deepblack a:visited
{
color: #F4F4F4;
}

/*Basic Gradient Eight*/
.gradient.brown
{
background-color: #7A482F;
background-image: linear-gradient(#7A482F, #5F2D14);
border-color:#732E01;
color: #FFFFFF;
text-shadow: -2px 2px 3px #030303;
}

.gradient.brown a
{
color: #FFFFFF;
}

.gradient.brown a:link
{
color: #FFFFFF;
}

.gradient.brown a:active
{
color: #FFFFFF;

}

.gradient.brown a:hover
{
color: #FFFFFF;
}

.gradient.brown a:visited
{
color: #FFFFFF;
}

.gradient.red
{
background-color: #C0362C;
background-image: linear-gradient(#C0362C, #8C1115);
border-color:#B1181C;
color: #FFFFFF;
text-shadow: 2px 1px 5px #000000;
}

.gradient.red a
{
color: #FFFFFF;
}

.gradient.red a:link
{
color: #FFFFFF;
}

.gradient.red a:active
{
color: #FFFFFF;

}

.gradient.red a:hover
{
color: #FFFFFF;
}

.gradient.red a:visited
{
color: #FFFFFF;
}

.gradient.orange
{
background-color: #F15B41;
background-image: linear-gradient(#F15B41, #D73D32);
border-color: #FF4442;
color: #FFFFFF;
text-shadow: 2px 1px 5px #000000;
}

.gradient.orange a
{
color: #FFFFFF;
}

.gradient.orange a:link
{
color: #FFFFFF;
}

.gradient.orange a:active
{
color: #FFFFFF;

}

.gradient.orange a:hover
{
color: #FFFFFF;
}

.gradient.orange a:visited
{
color: #FFFFFF;
}

.gradient.yellow
{
background-color: #FFF1A8;
background-image: linear-gradient(#FFF1A8, #FFCC66);
border-color: #F9E73C;
color: #4C3C1E;
text-shadow: 1px 2px 4px #FFFFFF;
}

.gradient.yellow a
{
color: #4C3C1E;
}

.gradient.yellow a:link
{
color: #4C3C1E;
}

.gradient.yellow a:active
{
color: #4C3C1E;

}

.gradient.yellow a:hover
{
color: #4C3C1E;
}

.gradient.yellow a:visited
{
color: #4C3C1E;
}

.gradient.green
{
background-color: #349D58;
background-image: linear-gradient(#16A765, #349D58);
border-color:#468966;
color: #FFFFFF;
text-shadow: -1px 2px 4px #000000;
}

.gradient.green a
{
color: #FFFFFF;
}

.gradient.green a:link
{
color: #FFFFFF;
}

.gradient.green a:active
{
color: #FFFFFF;

}

.gradient.green a:hover
{
color: #FFFFFF;
}

.gradient.green a:visited
{
color: #FFFFFF;
}

.gradient.blue
{
background-color: #4683EA;
background-image: linear-gradient(#4387FD, #4683EA);
border-color:#3079ED;
color: #FFFFFF;
text-shadow: -1px 2px 4px #000000;
}

.gradient.blue a
{
color: #FFFFFF;
}

.gradient.blue a:link
{
color: #FFFFFF;
}

.gradient.blue a:active
{
color: #FFFFFF;

}

.gradient.blue a:hover
{
color: #FFFFFF;
}

.gradient.blue a:visited
{
color: #FFFFFF;
}

.gradient.violet
{
background-color: #A85CA1;
background-image: linear-gradient(#A85CA1, #8E44AD);
border-color: #924E89;
color: #FFFFFF;
text-shadow: -2px 2px 5px #030303;
}

.gradient.violet a
{
color: #FFFFFF;
}

.gradient.violet a:link
{
color: #FFFFFF;
}

.gradient.violet a:active
{
color: #FFFFFF;

}

.gradient.violet a:hover
{
color: #FFFFFF;
}

.gradient.violet a:visited
{
color: #FFFFFF;
}

.gradient.black
{
background-color: #414141;
background-image: linear-gradient(#414141, #272727);
border-color: #202020;
color: #FFFFFF;
text-shadow: -2px 2px 5px #030303;
}

.gradient.black a
{
color: #FFFFFF;
}

.gradient.black a:link
{
color: #FFFFFF;
}

.gradient.black a:active
{
color: #FFFFFF;

}

.gradient.black a:hover
{
color: #FFFFFF;
}

.gradient.black a:visited
{
color: #FFFFFF;
}

/*Extended Gradient Pallet*/

.gradient.white
{
background-color: #FFFFFF;
background-image: linear-gradient(#FFFFFF, #F6F6F6);
border-color: #9A9A9A;
color: #5B5B5B;
text-shadow: -1px 1px 1px #FFFFFF;
}

.gradient.white a
{
color: #5B5B5B;
}

.gradient.white a:link
{
color: #5B5B5B;
}

.gradient.white a:active
{
color: #5B5B5B;

}

.gradient.white a:hover
{
color: #5B5B5B;
}

.gradient.white a:visited
{
color: #5B5B5B;
}

.gradient.gray
{
background-color: #F1F1F1;
background-image: linear-gradient(#FBFBFB, #F1F1F1);
border-color: #D3D3D3;
color: #555555;
text-shadow: -1px 1px 1px #FFFFFF;
}

.gradient.gray a
{
color: #555555;
}

.gradient.gray a:link
{
color: #555555;
}

.gradient.gray a:active
{
color: #555555;

}

.gradient.gray a:hover
{
color: #555555;
}

.gradient.gray a:visited
{
color: #555555;
}

.gradient.pink
{
background-color: #DE384E;
background-image: linear-gradient(#DE384E, #C92339);
border-color: #D9243C;
color: #FFFFFF;
text-shadow: -1px 1px 4px #000000;
}

.gradient.pink a
{
color: #FFFFFF;
}

.gradient.pink a:link
{
color: #FFFFFF;
}

.gradient.pink a:active
{
color: #FFFFFF;

}

.gradient.pink a:hover
{
color: #FFFFFF;
}

.gradient.pink a:visited
{
color: #FFFFFF;
}

.gradient.lightblue
{
background-color: #87AADE;
background-image: linear-gradient(#87AADE, #587BAF);
border-color: #6D84B4;
color: #FFFFFF;
text-shadow: -1px 1px 4px #000000;
}

.gradient.lightblue a
{
color: #FFFFFF;
}

.gradient.lightblue a:link
{
color: #FFFFFF;
}

.gradient.lightblue a:active
{
color: #FFFFFF;

}

.gradient.lightblue a:hover
{
color: #FFFFFF;
}

.gradient.lightblue a:visited
{
color: #FFFFFF;
}

.gradient.darkblue
{
background-color: #4C66A4;
background-image: linear-gradient(#4C66A4, #2D4785);
border-color: #3B5998;
color: #FFFFFF;
text-shadow: 1px 1px 4px #000000;
}

.gradient.darkblue a
{
color: #FFFFFF;
}

.gradient.darkblue a:link
{
color: #FFFFFF;
}

.gradient.darkblue a:active
{
color: #FFFFFF;

}

.gradient.darkblue a:hover
{
color: #FFFFFF;
}

.gradient.darkblue a:visited
{
color: #FFFFFF;
}

.gradient.bluegray
{
background-color: #4D5B76;
background-image: linear-gradient(#4D5B76, #313F5A);
border-color: #3E4C67;
color: #FFFFFF;
text-shadow: 1px 1px 4px #000000;
}

.gradient.bluegray a
{
color: #FFFFFF;
}

.gradient.bluegray a:link
{
color: #FFFFFF;
}

.gradient.bluegray a:active
{
color: #FFFFFF;

}

.gradient.bluegray a:hover
{
color: #FFFFFF;
}

.gradient.bluegray a:visited
{
color: #FFFFFF;
}

.gradient.deepblack
{
background-color: #070707;
background-image: linear-gradient(#070707, #3D3D3D);
border-color: #343434;
color: #F4F4F4;
text-shadow: -2px 2px 5px #030303;
}

.gradient.deepblack a
{
color: #F4F4F4;
}

.gradient.deepblack a:link
{
color: #F4F4F4;
}

.gradient.deepblack a:active
{
color: #F4F4F4;

}

.gradient.deepblack a:hover
{
color: #F4F4F4;
}

.gradient.deepblack a:visited
{
color: #F4F4F4;
}
