/*Filter Box*/
pager-box
{
	background-color: #FFFFFF /*#f3f5f9*/;
	border-color: #e8eaee;
	border-radius: 5px;
    border-style: solid;
    border-width: 2px;
	box-shadow: 2px 2px 0 #e9eaed;
	color: #787e8a;
	clear:both;
	float:left;
	font-size: 23px;
	font-weight: bold;
	line-height: 27px;
	margin-bottom: 7px;
	margin-left: -2px;
	margin-right: 5px;
	margin-top: 15px;
	padding: 12px 15px 11px 19px;
	text-align: center;
	width: 97.2%
}


pager-box a {
    color: #EE82EE;
    font-size: inherit;
	text-decoration: none;
	text-shadow: 2px 1px #7FFFD4 ;
}

pager-box a:visited {
    color: #EE82EE;
    font-size: inherit;
	text-decoration: none;
	text-shadow: 2px 1px #7FFFD4 ;
}

pager-box a:link {
    color: #EE82EE;
    font-size: inherit;
	text-decoration: none;
	text-shadow: 2px 1px #7FFFD4 ;
}