/*
input[type="checkbox"]
{
	opacity: 0;
}

input[type="radio"]
{
	opacity: 0;
}

.radio
{
	background-image: url("../img/legacy/radio.png");
	background-size: 10px 10px;

}

.radio:checked
{
	background-image: url("../img/legacy/radiochecked.png");
	background-size: 10px 10px;
}

.checkbox
{
	background-image: url("../img/legacy/checkbox.png");
	background-size: 10px 10px;
}

.checkbox:checked
{
	background-image: url("../img/legacy/checkboxchecked.png");
	background-size: 10px 10px;
}

.switch
{
	background-image: url("../img/legacy/switchoff.png");
	background-size: 66px 28px;
}

.switch:checked
{
	background-image: url("../img/legacy/switchon.png");
	background-size: 66px 28px;
}

.switch
{
	background-image: url("../img/legacy/switch.png");
	background-size: 128px 28px;
}

.switch:checked
{
	background-image: url("../img/legacy/switch.png");
	background-size: 128px 28px;
}