/*Box*/
box
{
	background-color: transparent;
	background-image: none;
	border-color: transparent;
	border-radius: 0px;
	font-size: 46px;
	margin: 0px;
	padding: 20px;
	width: 96%;
}

/*Button*/
button
{
	border-radius: 5px;
	border-width: 4px;
	font-size: 68px;
	padding-bottom: 4px;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 6px;
}

button[type="search"]
{
	background-size:64px 64px;
	border-top-left-radius:0px;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	border-bottom-left-radius:0px; 
	border-width: 4px;
	height: 112px;
	padding-bottom: 0px;
	padding-top: 0px;
	position: relative;
	right: 14px;
	width: 256px;
}


button img
{
	height: 72px;
	width: 72px;
}

/*Buttongroup*/
buttongroup
{
	border-radius: 5px;
	border-width: 2px;
	box-shadow: 0px 12px 45px #666666;
}

buttongroup button
{
	border-radius: 0px;
	font-size: 27px;
	padding-left: 24px;
	padding-right: 24px;
	margin: 0px;
}

buttongroup dropdown
{
	background-attachment:scroll;
	background-color: #F5F5F5;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 48px 48px;	
	border-radius: 0px;
	border-width: 4px;
	color: #666666;
	font-family: inherit;
	font-weight: bold;
	font-size: 27px;
	margin: 0px;
	padding-bottom: 6px;
	padding-left: 24px;
	padding-right: 46px;
	padding-top: 8px;

}

buttongroup dropdown:active
{
	background-attachment:scroll;
	background-color: #F5F5F5;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	border-radius: 0px;
	border-width: 4px;
	color: #666666;
	font-family: inherit;
	font-weight: bold;
	font-size: 27px;
	margin: 0px;
	padding-bottom: 6px;
	padding-left: 24px;
	padding-right: 46px;
	padding-top: 8px;

}

/*Comment*/
comment
{
	font-size: 44px;
	line-height: 1.37;
	margin-top: 13px;
	padding: 16px;
}

/*Container*/
container
{
	background-color: #FFFFFF;
	border-width: 4px;
	color: #666666;
	display: table;
	font-family: inherit;
	font-size: 46px;
	position: relative;
	padding: 20px;
	width: 94%;
}

container img
{
	float:left;
	padding-right: 24px;
	padding-bottom: 16px;
}

/*Caution*/
caution
{
	font-size: 60px;
	padding: 20px;
	width: 94%;
}

caution li ,caution p
{
	background-size:64px 64px;
}


/*Dropdown*/
dropdown
{
	background-size:64px 64px;
	border-radius: 6px;;
	border-width: 4px;
	font-size: 60px;
	margin: 28px;
	padding-bottom: 8px;
	padding-left: 36px;
	padding-right: 72px;
	padding-top: 8px;
}

dropdown:active
{
	background-size:64px 64px;
	border-radius: 6px;;
	border-width: 4px;
	font-size: 60px;
	margin: 28px;
	padding-bottom: 16px;
	padding-left: 36px;
	padding-right: 72px;
	padding-top: 8px;
}

dropdown popout
{
	margin-left: 29px;
	max-width: 91%;
	min-width: 78%;
}

/*Error*/
error
{
	font-size: 60px;
	padding: 20px;
	width: 94%;
}

error li ,error p
{
	background-size:64px 64px;
}

/*Good*/
good
{
	font-size: 60px;
	padding: 20px;
	width: 94%;
}

good li ,good p
{
	background-size:64px 64px;
}

/*Input*/
input 
{
	border-radius: 6px;;
	border-width: 4px;
	font-size: 52px;
	margin: 7px;
	padding: 20px;
	text-decoration: none;
	width: 96%;
}

input:focus
{
	border-radius: 6px;;
	border-width: 4px;
	box-shadow: 12px;
}

input[type="search"]
{
	border-top-left-radius:6px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:6px;
	font-size: 52px;
	height: 112px;
	top: -4px;
	width: 60%;
}

/*Checkbox*/
input[type="checkbox"]
{
	background-size:64px 64px;
}
/*Radio*/
input[type="radio"]
{
	background-size:40px 40px;
}

/*Result*/
result
{
	font-size: 46px;
	width: 98%;

}

/*Switch*/
input.switch[type="radio"]
{
	background-size: 264px 112px;
	height: 112px;
	width: 264px;
}

input.switch[type="radio"]:checked
{
	background-size: 264px 112px;
	height: 112px;
	width: 264px;
}

input.switch[type="checkbox"]
{
	background-attachment: scroll;
	background-image: url("../img/switch.svg");
	background-position: -200px;
	background-repeat: no-repeat;
	background-size: 512px 112px;
	border-radius: 60px;
	height: 112px;
	transition: background-position 1s;
	width: 186px;
}

input.switch[type="checkbox"]:checked
{
	background-position: -124px;
	background-size: 512px 112px;
	transition: background-position 1s;
}

/*Progress*/
progress {
	height: 16px;
}

/*Select*/
select 
{
	background-size:64px 64px;
	border-width: 4px;
	font-size: 68px;
	padding: 20px;
	padding-left: 32px;
	width: 96%;
}

/*Tab*/
tab
{
	border-bottom-width: 8px;
	padding-bottom: 12px;	
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 12px;
}

tab a 
{

	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-width: 4px;
	font-size: 44px;
	padding-bottom: 3px;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 3px;
}

/*Table*/
table 
{
	font-size: 44px;
}

td 
{
	padding: 8px;
}

th 
{
	padding: 8px;
}

/*Textarea*/
textarea
{
	border-radius: 6px;;
	border-width: 4px;
	font-size: 64px;
	margin-bottom: 15px;
	margin-top: 15px;
	min-height: 280px;
	padding: 8px;
	width: 98%;
}

/*Textgroup*/
textgroup
{
	background-color: #FFFFFF ;
	border-color: #CCCCCC;
	border-radius: 12px;
	border-style: solid;
	border-width: 1px;
	display: block;
	margin: 0px;
	width: 98%;
}

textgroup input
{
	background-color: transparent;
	border-radius: 0px;
	display: block;
	margin: 0px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 33px;
	width: 100%;
}

textgroup input:first-child
{
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

textgroup input:last-child
{
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}