button[type="search"] 
{
	height: 107px;
	top: -17px;
}


input[type="search"]
{
	height: inherit;
	width: 44%;
}

input[type="radio"]
{
	/*Bug 605985 -moz-appearance:none doesn't completely work on checkboxes and radios. */
	background-image: none;
	-moz-appearance: none;
}

input.switch[type="radio"]
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input.switch[type="radio"]:checked
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	height: auto;
	transform: none;
	width: auto;
}

input[type="checkbox"]
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	-moz-appearance: none;
}

input[type="checkbox"]:checked
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	-moz-appearance: none;
}

input.switch[type="checkbox"]
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input.switch[type="checkbox"]:checked
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

tab
{
	padding-bottom: 10px;	
	padding-top: 10px;
}

select 
{
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
}