/*!

 *	Copyright 2013 Promyk Zamojski
 *	Released under the Apache License Version 2.0
 *  January 2004 http://www.apache.org/licenses/

*/

::-webkit-selection
{
	background-color: #E54E46;
	color: #222222;
}

box
{
	background-color: transparent;
	background-image: none;
	border-color: transparent;
	border-radius: 0px;
	margin: 0px;
	width: 96%;
}

button[type="search"]
{
	background-image: url("../img/legacy/search.png");
	background-size: 16px 16px;
    top: -1px;
	height: 28px;

}

buttongroup button
{
	font-size: 12px;
}

buttongroup dropdown
{
	font-size: 12px;
}


caution li ,caution p
{
	background-image: url("../img/legacy/caution.png");
	background-size: 16px 16px;
}

container
{
	display: table;
}

dropdown
{
	background-image: url("../img/legacy/arrowdown.png");
	background-size: 16px 16px;
}

error li, error p
{
	background-image: url("../img/legacy/error.png");
	background-size: 16px 16px;
}

good li, good p
{
	background-image: url("../img/legacy/good.png");
	background-size: 16px 16px;
}

input[type="radio"]
{
	-webkit-appearance: none;
	background-image: url("../img/legacy/radio.png");
	background-size: 10px 10px;

}

input[type="radio"]:checked
{
	-webkit-appearance: none;
	background-image: url("../img/legacy/radiochecked.png");
	background-size: 10px 10px;
}

input[type="checkbox"]
{
	-webkit-appearance: none;
	background-image: url("../img/legacy/checkbox.png");
	background-size: 10px 10px;
}

input[type="checkbox"]:checked
{
	-webkit-appearance: none;
	background-image: url("../img/legacy/checkboxchecked.png");
	background-size: 10px 10px;
}

input.switch[type="radio"]
{
	-webkit-appearance: none;
	background-image: url("../img/legacy/switchoff.png");
	background-size: 66px 28px;
}

input.switch[type="radio"]:checked
{
	-webkit-appearance: none;
	background-image: url("../img/legacy/switchon.png");
	background-size: 66px 28px;
}

input.switch[type="checkbox"]
{
	-webkit-transition: background-position 1s;
	background-image: url("../img/legacy/switch.png");
	background-size: 128px 28px;
}

input.switch[type="checkbox"]:checked
{
	-webkit-transition: background-position 1s;
	background-image: url("../img/legacy/switch.png");
	background-size: 128px 28px;
}

input[type="search"]
{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px; 
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-width: 1px;
	top: -4px;
	height: 28px;
}

progress
{
	-webkit-appearance: none;
	height: 8px;
}

progress::-webkit-progress-bar 
{
	background: #F5F5F5;
}

progress::-webkit-progress-value 
{
	background: #666666;
}

select 
{
	-webkit-appearance: none;
	background-image: url("../img/legacy/select.png");
	background-size: 16px 16px;
}

/*Textgroup*/
textgroup
{
	background-color: #FFFFFF ;
	border-color: #CCCCCC;
	border-radius: 12px;
	border-style: solid;
	border-width: 1px;
	display: block;
	margin: 0px;
	width: 90%;
}

textgroup input
{
	background-color: transparent;
	border-radius: 0px;
	display: block;
	margin: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 22px;
	width: 100%;
}

textgroup input:first-child
{
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

textgroup input:last-child
{
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}