/*!

 *	Copyright 2013 Promyk Zamojski
 *	Released under the Apache License Version 2.0
 *  January 2004 http://www.apache.org/licenses/

*/
button[type="search"]
{
    top: 9px;
}

container
{
	display: table;
}

input[type="radio"]
{
	-webkit-appearance: none;
}

input[type="checkbox"]
{
	-webkit-appearance: none;
}

input.switch[type="checkbox"]
{
	-webkit-transition: background-position 1s;
}

input.switch[type="checkbox"]:checked
{
	-webkit-transition: background-position 1s;
}

input[type="search"]
{
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
 	border-color: #CCCCCC;
	border-style: solid;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-width: 1px;
	top: -4px;
	height: 28px;
}

progress
{
	-webkit-appearance: none;
	height: 8px;
}

progress::-webkit-progress-bar {
	background: #F5F5F5;
}

progress::-webkit-progress-value {
	background: #535D6C;
}

select {
	-webkit-appearance: none;
}