/*!

 *	Polish.css 
 *	Copyright 2013 Promyk Zamojski
 *	Released under the Apache License Version 2.0
 *  January 2004 http://www.apache.org/licenses/

*/

::-moz-selection
{
	background-color: #FFCC57;
	color: #222222;
}

button[type="search"]
{
	height: 27px;
}

buttongroup dropdown
{
	padding-top: 6px;
	padding-bottom: 2px;
}

input[type="radio"]
{
	/*Bug 605985 -moz-appearance:none doesn't completely work on checkboxes and radios. */
	background-image: none;
	-moz-appearance: none;
}

input.switch[type="radio"]
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input.switch[type="radio"]:checked
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	height: auto;
	transform: none;
	width: auto;
}

input[type="checkbox"]
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	-moz-appearance: none;
}

input[type="checkbox"]:checked
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	-moz-appearance: none;
}

input.switch[type="checkbox"]
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input.switch[type="checkbox"]:checked
{
	/* Firefox override for custom skin, will be removed when Bug 605985 is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

progress
{
	-moz-appearance: none;
}

progress::-moz-progress-bar 
{
	background: #535D6C;
}

select 
{
	/*Bug 649849 - Allow styling of the select element dropdown arrow  */
	-moz-appearance: none;
}