/*!

 *	Copyright 2013 Promyk Zamojski
 *	Released under the Apache License Version 2.0
 *  January 2004 http://www.apache.org/licenses/

*/
button[type="search"]
{
	display: none;
}

button[type="submit"]
{
	display: none;
}

input[type="radio"]
{

	/*-ms-appearance:none doesn't completely work on radio, will be ignored until fixed. */
	-ms-appearance: none;
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input[type="radio"]:checked
{

	/*-ms-appearance:none doesn't completely work on radio checked, will be ignored until fixed. */
	-ms-appearance: none;
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input[type="radio"].switch
{
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input[type="radio"]:checked.switch
{
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input[type="checkbox"]
{

	/*-ms-appearance:none doesn't completely work on checkbox, will be ignored until fixed. */
	-ms-appearance: none;
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;

}

input[type="checkbox"]:checked
{	
	/*-ms-appearance:none doesn't completely work on checkbox checked, will be ignored until fixed. */
	-ms-appearance: none;
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;

}

input[type="checkbox"].switch
{
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input[type="checkbox"]:checked.switch
{
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	height: auto;
	width: auto;
}

input[type="search"]
{
	background-attachment: scroll;
	background-color: #FFFFFF;
	background-image: url("../img/search.svg");
	background-position: right;
	background-repeat: no-repeat;
	border-color:#CCCCCC;
	border-style:solid;
	border-width:1px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px; 
	top: -4px;
	height: 28px;
}

select 
{
	/*-ms-appearance:none doesn't completely work on select, will be ignored until fixed. */
	-ms-appearance: none;
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	padding: 0px;
}

tab
{
	padding-bottom: 2px;	
	padding-top: 2px;
}