/*Input*/
input[type="radio"]
{

	/*-ms-appearance:none doesn't completely work on radio, will be ignored until fixed. */
	-ms-appearance: none;
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	border-width: 0px;
	height: auto;
	width: auto;
}

input[type="radio"]:checked
{

	/*-ms-appearance:none doesn't completely work on radio checked, will be ignored until fixed. */
	-ms-appearance: none;
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	border-width: 0px;
	height: auto;
	width: auto;
}

input[type="radio"].switch
{
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	border-width: 0px;
	height: auto;
	width: auto;
}

input[type="radio"]:checked.switch
{
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	border-width: 0px;
	height: auto;
	width: auto;
}

input[type="checkbox"]
{

	/*-ms-appearance:none doesn't completely work on checkbox, will be ignored until fixed. */
	-ms-appearance: none;
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	border-width: 0px;

}

input[type="checkbox"]:checked
{	
	/*-ms-appearance:none doesn't completely work on checkbox checked, will be ignored until fixed. */
	-ms-appearance: none;
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	border-width: 0px;

}

input[type="checkbox"].switch
{
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	border-width: 0px;
	height: auto;
	width: auto;
}

input[type="checkbox"]:checked.switch
{
	/* IE override for custom skin, will be removed when -ms-appearance:none is fixed. */
	background-image: none;
	border-width: 0px;
	height: auto;
	width: auto;
}

input[type="search"]
{
	background-size:64px 64px;
}