/*!
 *	Polish.css 
 *	Copyright 2013 Promyk Zamojski
 *	Released under the Apache License Version 2.0
 *  January 2004 http://www.apache.org/licenses/
*/


/*Body*/
::selection 
{
	background-color: #FFCC57;
	color: #222222;
}

/*Box*/
box
{
	background-color: #EEEEEE;
	background-image: linear-gradient(#FFFFFF, #EEEEEE);
	border-color: #CCCCCC;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 3px 3px 3px rgba(204, 208, 217, 0.48) /*#CCD0D9*/;
	color: inherit;
	display: table;
	margin: 15px;
	padding: 11px;
	width: 300px;
}

/*Button*/
button
{
	background-color: #F5F5F5;
	background-image: linear-gradient(#FAFAFA, #EAEAEA);
	background-repeat: repeat-x;
	border-color: #CCCCCC;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	color: #535D6C;
	font-family: inherit;
	font-weight: bold;
	font-size: 17px;
	margin: 7px;
	padding-bottom: 1px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
}

button img
{
	height: 24px;
	width: 24px;
}

button[type="search"]
{
	background-attachment:scroll;
	background-color: #F3F5F9;
	background-image: url("../img/search.svg");
	background-position: center;
	background-repeat:no-repeat;
	border-top-left-radius:0px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:0px; 
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	height: 28px;
	padding-bottom: 0px;
	padding-top: 0px;
	position: relative;
	right: 14px;
	top: -4px;
	width: 64px;
}


/*Buttongroup*/
buttongroup
{
	background-color: #CCCCCC;
	background-image: linear-gradient(#FAFAFA, #EAEAEA);
	background-repeat: repeat-x;
	border-color: #CCCCCC;
	border-radius: 2px;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0px 2px 5px #535D6C;
	color: #535D6C;
	display: inline-block;
	font-family: inherit;
	font-weight: bold;
	font-size: 0px;
	margin: 7px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

buttongroup button
{
	background-image: none;
	border-radius: 0px;
	font-size: 14px;
	margin: 0px;
}

buttongroup dropdown
{
	background-attachment:scroll;
	background-color: #F5F5F5;
	background-position: right center;
	background-repeat:no-repeat;
	border-color: #CCCCCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #535D6C;
	font-family: inherit;
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
	padding-bottom: 2px;
	padding-left: 9px;
	padding-right: 18px;
	padding-top: 5px;
}

buttongroup dropdown:active
{
	background-attachment:scroll;
	background-color: #F5F5F5;
	background-position: right center;
	background-repeat:no-repeat;
	border-color: #CCCCCC;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	color: #535D6C;
	font-family: inherit;
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
	padding-bottom: 2px;
	padding-left: 9px;
	padding-right: 18px;
	padding-top: 5px;
}

buttongroup dropdown:active popout
{
	display: block;
}

buttongroup dropdown:hover popout
{
	display: block;
}

/*Comment*/
comment
{
	background-color: #FFFFFF;
	box-shadow: 2px 2px 0 #e9eaed;
	border-color: #ecf0f9;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	display: table;
	font-family: inherit;
	font-size: 11px;
	line-height: 1.38;
	margin-top: 5px;
	padding: 10px;
	width: 94%;
}

comment img
{
	border-color: #959595;
    border-radius: 50%;
    border-style: double;
    border-width: 4px;
	float: right;
	height: 48px;
	padding: 7px;
	width: 48px;
}

/*Caution*/
caution
{
	background-color: #FFF1A8;
	border-color: #D2D2D2;
	border-radius: 1px;
	border-style: solid;
	border-width: 1px;
	color: #4C3C1E;
	display: table;
	font-family: inherit;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 96%;
}

caution li ,caution p
{
	background-attachment:scroll;
	background-image: url("../img/caution.svg");
	background-position: right center;
	background-repeat:no-repeat;
	color: inherit;
	list-style-type:none;
}

/*Container*/
container
{
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	display: table;
	font-family: inherit;
	font-size: 14px;
	position: relative;
	padding: 10px;
	width: 94%;
}

container img
{
	float:left;
	padding-right: 6px;
	padding-bottom: 4px;
}

/*Dropdown*/
dropdown
{
	background-attachment:scroll;
	background-color: #F5F5F5;
	background-image: url("../img/arrowdown.svg");
	background-position: right center;
	background-repeat:no-repeat;
	border-color: #CCCCCC;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	color: #535D6C;
	font-family: inherit;
	font-weight: bold;
	font-size: 15px;
	margin: 7px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 18px;
	padding-top: 2px;
}

dropdown popout
{
	background-color: #F5F5F5;
	background-image: linear-gradient(#FFFFFF, #EEEEEE);
	border-color: #CCCCCC;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 3px 5px #535D6C;
	color: #535D6C;
	display: none;
	margin-left: 0px;
	margin-top: 0px;
	opacity: .92;
	padding: 16px;
	position: absolute;
	text-shadow: none;
	width: 300px;
	z-index: 2147483647;
}

dropdown:active popout
{
	display: block;
}

dropdown:focus popout
{
	display: block;
}

dropdown:hover popout
{
	display: block;
}

popout:hover
{
	display: block;
}

/*error*/
error
{
	background-color: #CC3D45; /*#E54900*/
	border-color: #D73700;
	border-radius: 1px;
	border-style: solid;
	border-width: 1px;
	color: #FFF4C9; /*#F5DEB3*/
	display: table;
	font-family: inherit;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 96%;
}

error li, error p
{
	background-attachment:scroll;
	background-image: url("../img/error.svg");
	background-position: right center;
	background-repeat:no-repeat;
	color: inherit;
	list-style-type:none;
}

/*good*/
good
{
	background-color: #20A966; /*#7BBF6A*/
	border-color: #7A7A7A;
	border-radius: 1px;
	border-style: solid;
	border-width: 1px;
	color: #343316;
	display: table;
	font-family: inherit;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 96%;
}

good li, good p
{
	background-attachment:scroll;
	background-image: url("../img/good.svg");
	background-position: right center;
	background-repeat:no-repeat;
	color: inherit;
	list-style-type:none;
}

/*Input*/
input 
{
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	color: #999999;
	font-size: 13px;
	font-weight: bold;
	margin: 7px;
	padding: 5px;
	text-decoration: none;
	width: 96%;
}

input:focus
{
	border-color: #2793E6;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 3px;
}

input[type="search"]
{
	border-top-left-radius:3px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:3px; 
	top: -4px;
	width: 40%;
}

/*Radio*/
input[type="radio"]
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/radio.svg");
	background-position: right center;
	background-repeat:no-repeat;
	border: 0px;
	border-radius: 0px;
	margin-bottom: -1px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 18px;
	width: auto;
}

input[type="radio"]:checked
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/radiochecked.svg");
	background-position: right center;
	background-repeat:no-repeat;
}

/*Checkbox*/
input[type="checkbox"]
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/checkbox.svg");
	background-repeat:no-repeat;
	border-radius: 0px;
	border-style: solid;
	border-width: 0px;
	margin-bottom: -1px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 18px;
	width: auto;
}

input[type="checkbox"]:checked
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/checkboxchecked.svg");
	background-repeat:no-repeat;
}

/*Switch*/
input.switch[type="radio"]
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/switchoff.svg");
	background-repeat:no-repeat;
	border-radius: 0px;
	border-style: solid;
	border-width: 0px;
	height: 28px;
	width: 66px;
}

input.switch[type="radio"]:checked
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/switchon.svg");
	background-repeat:no-repeat;
}

input.switch[type="checkbox"]
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/switch.svg");
	background-position: -18px;
	background-repeat:no-repeat;
	border-radius: 25px;
	border-style: solid;
	border-width: 0px;
	height: 28px;
	transition: background-position 1s;
	width: 48px;
}

input.switch[type="checkbox"]:checked
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/switch.svg");
	background-position: 2px;
	background-repeat:no-repeat;
	transition: background-position 1s;
}

/*Result*/
result
{
	background-color: #FFFFFF;
	box-shadow: 1px 1px 5px #CCD0D9;
	border-color: #ecf0f9;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	display: table;
	font-family: inherit;
	list-style-type: none;
	margin-top: 15px;
	padding-bottom: 32px;
	padding-left: 19px;
	padding-right: 36px;
	padding-top: 13px;
	position: relative;
	text-align: justify;
	width: 95.8%;

}

result img
{
	float: right;
	padding-bottom: 2px;
	padding-left: 24px;
	padding-right: 32px;
}

result p
{
	margin: 0px;
}

/*Progress*/
progress
{
	background: #F5F5F5;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 2px;
	height: 4px;
	margin-bottom: 7px;
	margin-top: 7px;
	width: 96%;
}

/*Select*/
select 
{
	background-attachment:scroll;
	background-color: #F5F5F5;
	background-image: url("../img/select.svg");
	background-position: right center;
	background-repeat:no-repeat;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	color: #535D6C;
	font-weight: bold;
	padding: 5px;
	padding-left: 8px;
	padding-right: 16px;
	margin: 10px;
}

/*Tab*/
tab
{
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 3px;	
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 3px;
}

tab a 
{

	background-color: #F5F5F5;
	background-image: linear-gradient(#FAFAFA, #EAEAEA);
	border-color: #CCCCCC;
	border-style: solid;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-width: 1px;
	color: #535D6C;
	display: inline;
	font-family: inherit;
	font-size: 11px;
	font-weight: bold;
	margin: -1px;
	margin-right: 0px;
	padding-bottom: 3px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 3px;
	text-decoration: none;
}

tab a:link
{
	color: #535D6C;
}

tab a:active
{
	color: #535D6C;
}

tab a:hover
{
	color: #535D6C;
}

tab a:visited
{
	color: #535D6C;
}

/*Table*/
table 
{
	border-style: solid;
	border-width: 0px;
	color: #666666;
	font-family: inherit;

}

td 
{
	background-color: #F5F5F5;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	padding: 2px;
	padding-left: 32px;
	padding-right: 32px;

}

th 
{
	font-weight: bold;
	padding: 2px;
}

/*Textarea*/
textarea
{
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	font-family: inherit;
	margin-bottom: 15px;
	margin-top: 15px;
	min-height: 70px;
	padding: 4px;
	width: 98%;
}