
/*Filter Box*/
filter-box
{
	background-color: #FFFFFF /*#f3f5f9*/;
	border-color: #e8eaee;
	border-radius: 5px;
    border-style: solid;
    border-width: 2px;
	box-shadow: 2px 2px 0 #e9eaed;
	color: #787e8a;
	clear:both;
	float:left;
	line-height: 27px;
	margin-bottom: 7px;
	margin-left: -2px;
	margin-right: 5px;
	margin-top: 3px;
	padding: 12px 15px 11px 19px;
	width: 97.2%
}

filter-box button
{
	background-color:#8A2BE2;
	background-image: none;
	border-color: transparent;
	border-radius:2px;
	color: #ADFF2F;
	display:block;
	font-size: 15px;
	font-weight: bold;
	float: right;
	line-height: 22px;
	height:32px;
	padding:0 3px;
	padding-bottom: 3px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 3px;
	text-align:center;
	text-transform:none;
	margin-right: 1%;
}

filter-box h1 
{
	font-size: 27px;
	font-weight: bold;
	margin-bottom: 11px;
	margin-left: 10px;
}

filter-box h2 
{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 11px;
	margin-left: 10px;
}
filter-box h3 
{
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 11px;
	margin-left: 10px;
}
filter-box h4
{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 11px;
	margin-left: 10px;
}
filter-box h5 
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 11px;
	margin-left: 10px;
}
filter-box h6 
{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 11px;
	margin-left: 10px;
}

filter-box input 
{
	background-color: #FFFFFF;
	border-color: #ccd0d9;
	border-radius: 75px;
	border-style: solid;
	border-width: 1px;
	color: #999999;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 7px;
	margin-left: 7px;
	margin-right: -2px;
	margin-top: 7px;
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 5px;
	padding-top: 5px;
	text-decoration: none;
	width:12%;
}

filter-box input:focus
{
	border-color: #167ac6;
	border-radius: 75px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 3px;
}

filter-box select 
{
	background-attachment:scroll;
	background-color: #f1f3f4;
	background-image: url("../img/search_selector.svg");
	background-position: right center;
	background-repeat:no-repeat;
	border-color: #becfe3;
	border-radius: 75px;
	border-style: solid;
	border-width: 2px;
	color: #3b5998;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 19px;
	padding-top: 3px;
	margin: 3px;
}

filter-box group
{
	display: inline-block;
	border: 1px dashed #CCCCCC;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 5px;
	margin: 12px;
}

/*Page Bar*/

page-bar
{
	background-color: #FFFFFF;
	border-color: #C8C8C8;
	border-radius: 0px;
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	box-shadow: 1px -1px 5px #ccd0d9;
	color: #ffffff;
	display: table;
	height: 60px;
	margin: auto;
	width: 100%;
}