/*Box Headings*/
box h1
{
	line-height: 103px;
}

box h2
{
	line-height: 60px;
}

box h3
{
	line-height: 50px;
}

box h4
{
	line-height: 29px;
}

box h5
{
	line-height: 27px;
}

box h6
{
	line-height: 20px;
}

box p 
{
    font-size: 10px;
}

/*Box Input*/
box input 
{
    width: 94%;
}

/*Box Grid Units*/
box  .half
{
	width: 44%;
}

box  .half:first-child
{
	margin-left: 0;
}

box  .third
{
	width: 30.07%;
}

box  .third:first-child
{
	margin-left: 0;
}

box  .fourth
{
	width: 22.38%;
}

box  .fourth:first-child
{
	margin-left: 0;
}

box  .fifth
{
	width: 17.78%;
}

box  .fifth:first-child
{
	margin-left: 0;
}

box  .sixth
{
	width: 14.74%;
}

box  .sixth:first-child
{
	margin-left: 0;
}

/*Navigation Dropdown*/
navigation dropdown
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/navigationarrowdown.svg");
	background-position: right center;
	background-repeat:no-repeat;
	border-color: transparent;
	border-radius: 0px;
	border-style: solid;
	border-width: 0px;
	color: #FFFFFF;
	float: right;
	font-family: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.46;
	margin: 0px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 18px;
	padding-top: 7px;
}

navigation dropdown:active
{
	background-attachment:scroll;
	background-color: transparent;
	background-image: url("../img/navigationarrowdown.svg");
	background-position: right center;
	background-repeat:no-repeat;
	border-color: transparent;
	border-radius: 0px;
	border-style: solid;
	border-width: 0px;
	color: #FFFFFF;
	float: right;
	font-family: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.46;
	margin: 0px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 18px;
	padding-top: 7px;
}


navigation dropdown:active.left 
{
	float: left;
}

navigation dropdown popout
{
	background-color: #F5F5F5;
	background-image: linear-gradient(#FFFFFF, #EEEEEE);
	border-color: #CCCCCC;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 3px 5px #535D6C;
	color: #535D6C;
	display: none;
	margin-left: -94px;
	margin-top: 3px;
	opacity: .93;
	padding: 16px;
	position: absolute;
	width: 147px;
	z-index: 2147483647;
}

navigation dropdown.left popout
{
	margin-left: -7px;
}

navigation dropdown:active popout
{
	display: block;
}

navigation dropdown:hover popout
{
	display: block;
}

td 
{
	padding-left: 16px;
	padding-right: 16px;

}