/*Box Headings*/
box h1
{
	line-height: 180px;
}

box h2
{
	line-height: 25px;
}

box h3
{
	line-height: 25px;
}

box h4
{
	line-height: 5px;
}

box h5
{
	line-height: 5px;
}

box h6
{
	line-height: 10px;
}

box p 
{
    font-size: 10px;
}

box input 
{
    width: 89.5%;
}

/*Box Grid Units*/
box  .half
{
	width: 44%;
}

box  .half:first-child
{
	margin-left: 0;
}

box  .third
{
	width: 30.07%;
}

box  .third:first-child
{
	margin-left: 0;
}

box  .fourth
{
	width: 22.38%;
}

box  .fourth:first-child
{
	margin-left: 0;
}

box  .fifth
{
	width: 17.78%;
}

box  .fifth:first-child
{
	margin-left: 0;
}

box  .sixth
{
	width: 14.74%;
}

box  .sixth:first-child
{
	margin-left: 0;
}


/*Button*/
button[type="search"] 
{
	right: 13px;
}

/*Comment*/
comment
{
	line-height: 1.07;
}

/*Input*/
input 
{
	width: 88%;
}

/*Paragraph*/
p
{
	line-height: 1.16;
}
/*Tab*/
tab
{
	padding-bottom: 0px;	
	padding-top: 0px;
}

/*Navigation Dropdown*/
navigation dropdown
{
	font-size: 52px;
	padding-left: 40px;
	padding-right: 72px;
}

navigation dropdown:active
{
	font-size: 52px;
	padding-left: 40px;
	padding-right: 72px;
}

navigation dropdown popout
{
	width: 100%;
	margin-left: -81%;
}

/*Textarea*/
textarea
{
	width: 92%;
}