
/*Basic Gradient Eight*/
.gradientbrown
{
background-image:  -webkit-linear-gradient(#A89B59, #C2B367);
}

.gradientred
{
background-image:  -webkit-linear-gradient(#8C1115, #CC181E);
}

.gradientorange
{
background-image:  -webkit-linear-gradient(#FF7F00, #FFA54D);
}

.gradientyellow
{
background-image:  -webkit-linear-gradient(#E0D961, #FFF77D);
}

.gradientgreen
{
background-image:  -webkit-linear-gradient(#4C7A16, #6BAD30);
}

.gradientblue
{
background-image:  -webkit-linear-gradient(#396CC0, #4D90FE);
}

.gradientviolet
{
background-image:  -webkit-linear-gradient(#574D82, #786AB4);
}

.gradientblack
{
background-image:  -webkit-linear-gradient(#2D2D2D, #474747);
}

/*Extended Gradient Pallet*/

.gradientwhite
{
background-image:  -webkit-linear-gradient(#FDFDFD, #FFFFFF);
}

.gradientgray
{
background-image:  -webkit-linear-gradient(#FDFDFD, #F1F1F1);
}

.gradientpink
{
background-image:  -webkit-linear-gradient(#FB697F, #FBA3B0);
}

.gradientlightblue
{
background-image:  -webkit-linear-gradient(#87AADE, #A3B2FF);
}

.gradientdarkblue
{
background-image:  -webkit-linear-gradient(#3B5995, #6496F3);
}

.gradientbluegray
{
background-image:  -webkit-linear-gradient(#4D5B76, #8FA9DB);
}

.gradientdeepblack
{
background-image:  -webkit-linear-gradient(#000000, #4D4D4D);
}
