/*!

 *	Warp.css 
 *	Copyright 2013 Promyk Zamojski
 *	Released under the Apache License Version 2.0
 *  January 2004 http://www.apache.org/licenses/

*/

/*Grid Units*/
.half
{
	display: inline-block;
	width: 45.37%;
}

.half:first-child
{
	margin-left: 0;
}

.third
{
	display: inline-block;
	width: 30.07%;
}

.third:first-child
{
	margin-left: 0;
}

.fourth
{
	display: inline-block;
	width: 22.38%;
}

.fourth:first-child
{
	margin-left: 0;
}

.fifth
{
	display: inline-block;
	width: 17.78%;
}

.fifth:first-child
{
	margin-left: 0;
}

.sixth
{
	display: inline-block;
	width: 14.74%;
}

.sixth:first-child
{
	margin-left: 0;
}

/*Positioning*/
.fixed 
{
	display: block;
	position: fixed;
	width: inherit;
	z-index: 2147483646;
}

.left
{
	float: left;
}

.leftoffset
{
margin-left: 32px;
}

.middle {
	margin-left: auto;
	margin-right: auto;
}

.right
{
	float: right;
}

.rightoffset
{
margin-right: 32px;
}

.verticaloffset
{
	margin-bottom: 120px;
	margin-top: 127px;
}

/*Theming*/
.boxed
{
	border-radius:0px;
}

.noborder
{
	border-color: transparent;
	border-style:solid;
	border-width:0px;
}

.nobackground
{
	background-color: transparent;
}

.translucent
{
	opacity: 0.81;
}
