/*!

 *	Warp.css 
 *	Copyright 2013 Promyk Zamojski
 *	Released under the Apache License Version 2.0
 *  January 2004 http://www.apache.org/licenses/

*/

.mobileblock
{
	background-color: transparent;
	display: block;
	width: 98%;
	opacity: 1;
}
