
<filter-box>
<h1>My Devices</h1>
<p>To De-athorize devices just double click the Remove Device Button.</p> 
<p>By Removeing the device you will be automaticly logged out on that device connected to your account</p>
</filter-box>