<!-- Begin Menu -->
<menubar>
    <section class="fixed">
        <button onclick="window.location.href='/user.php'" class="user">user</button>
        <button onclick="window.location.href='/search.php'" class="search">search</button>
        <button onclick="window.location.href='/location.php'" class="location">location</button>
        <button onclick="window.location.href='/password.php'"class="password">password</button>
        <button onclick="window.location.href='/logout.php'" class="logout">exit</button>
    </section>
</menubar>
<!-- End Menu -->