
<!--  Read and process input -->
<form name="form" method="POST" action="deactivate.php">

<!-- Deactivate -->
<h1>Deactivate</h1>
<br>

<!-- Username -->
<input name="username" type="text" id="username" placeholder="Username/E-mail" required autocomplete="on">
<br>

<!-- Password -->
<input name="password" type="password" id="password" placeholder="Password" required autocomplete="off">
<br>

<!-- Show my password -->
<input type="checkbox" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'">
Show my password.
<br>

<!-- Login Button -->
<button type="submit" name="deactivate">Deactivate</button>

</form>