<section class="landing_image">
</section> 
<br>
<section class="center_menu">
<h1>FAST, CLEAN, LIGHTWEIGHT PHP!</h1>
<button onclick="window.location.href='login.php'" class="gray">Login</button>
<button onclick="window.location.href='signup.php'" class="violet">Sign Up</button>
</section> 