<box class="middle mobileblock verticaloffset">
<!--  Read and process input -->
<form name="form" method="POST" action="login.php">

<!-- Login -->
<h1>Login</h1>
<br>

<!-- Username or Email -->
<input name="username_or_email" type="text" id="username_or_email" placeholder="Username/E-mail" required autocomplete="on">
<br>

<!-- Password -->
<input name="password" type="password" id="password" placeholder="Password" required autocomplete="off">
<br>

<!-- Show my password -->
<input type="checkbox" class="switch" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'">
Show my password.
<br>

<!-- Keep me logged in -->
<input type="checkbox" class="switch" name="keep_me_logged_in" value="on">
Keep me logged in.
<br>

<!-- Password Reset -->
<a onclick="window.location.href='recover.php'">Forgot your password?</a>
<br>

<!-- Login Button -->
<button type="submit" name="login" class="blue">Login</button>

<!-- Signup Button -->
<button onclick="window.location.href='signup.php' " class="white">Sign Up</button>
<br>

</form>
</box>