<form name="create_password" method="POST" action="password.php">

<!-- Password -->
<h1>Create a New Password</h1>

<!-- New Password -->
<input id="password" type="password" name="password" placeholder="Password" pattern=".{6,}" required autocomplete="off">
<br>
<input id="confirm_password" type="password" name="confirm_password" placeholder="Confirm Password" pattern=".{6,}" required autocomplete="off">
<br>

<!-- Submit Button -->
<button type="submit" name="create_password">Continue</button>
<br>

</form>