<box class="middle mobileblock verticaloffset">
<!--  Read and process input -->
<form name="form" method="POST" action="recover.php">

<!-- Recover -->
<h1>Reset your password.</h1>
<p>We will email you a link to reset it.</p>
<br>

<!-- Username or Email -->
<input name="username_or_email" type="text" id="username_or_email" placeholder="Username/E-mail" required autocomplete="on">

<!-- Recover Button -->
<button type="submit" name="recover" class="red">Send</button>
<br>

</form>
</box>