/* Frontpage CSS */
.landing_image
{
	background-image:url("../../img/branding/branding_color.svg");
	height: 415px;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.landing_image:hover 
{
    background-image:url("../../img/branding/branding_color.svg");
}
.center_menu
{
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	text-align: center;
}
body
{
	background-color: #ADFF2F;
	color: #454849;
}
footer
{
	background-color: transparent;
	bottom: 0;
	color: #F6F8F5;
	left: 0;
	position: absolute;
	right: 0;
}